<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/css/css3.css">
    </head>
    <body>
        <div class="header">
            <div class="header-logo">ChatApp</div>
            <!-- <div class="header-menu">
                <ul>
                    <li><a href="#" class="button button1">Login</a></li>
                    <li><a href="#" class="button button2">Sign Up</a></li>
                </ul>
            </div> -->
        </div>
        <div class="main" id="login">
                <input class="un" type="email" align="center" placeholder="E-mail" id="email">
                <input class="pass" type="password" align="center" placeholder="Password" id="password">
                <!-- <input class="phno" type="tel" align="center" placeholder="Mobile Number"> -->
                <!-- <input type="submit" value="LOGIN" class="submit"> -->
                <button class="glow-on-hover" type="button" onclick="login()">Login</button>
                  
            <a class="login-links-left" href="#">Forgot Password</a>
            <a class="login-links-right" href="/register">New User? Sign Up</a>
            <button class="glow-on-hover" type="button">Other Login Options</button> 
        </div>
       
        <div class="footer">
            <div class="footer-cright">
                <p>&#ChatApp version 2.0</p>
            </div>
            <div class="footer-menu">
                <address>
                    Contact us at:<br>
                    Chatapp.org<br>
                    Amrita Vishwa Vidyapeetham, Kasavanahalli<br>
                    Bengaluru-560035<br>
                    Karnataka<br>
                    India<br>
                </address>
            </div>
        </div>
        <script src="/__/firebase/7.9.2/firebase-app.js"></script>
		<script src="/__/firebase/7.9.2/firebase-auth.js"></script>
        <script src="/__/firebase/7.9.3/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
        <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDBLiEhnCOBRBOCr00ajLDnjoCyKIz4WSo",
    authDomain: "chatapp-ec52c.firebaseapp.com",
    databaseURL: "https://chatapp-ec52c.firebaseio.com",
    projectId: "chatapp-ec52c",
    storageBucket: "chatapp-ec52c.appspot.com",
    messagingSenderId: "801791122441",
    appId: "1:801791122441:web:94cb40c9a7248d187cacd8"
  };
  // Initialize Firebase
//   firebase.initializeApp(firebaseConfig);

  // make auth and firestore references

  const auth = firebase.auth();
  const db = firebase.firestore();

</script>
        <script src="/js/login.js"></script>
    </body>
</html>