<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FirebaseUI Auth Demo</title>
        <link rel="stylesheet" href="css/css3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">ChatApp</div>
      <div class="header-menu">
          <ul>
              <li><a href="/login" class="button button1">Login</a></li>
              <li><a href="/register" class="button button2">Sign Up</a></li>
          </ul>
      </div>
  </div>
  </body>
</html>    